.catalog-item {
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #ededed;
  overflow: hidden;
}
.catalog-item a {
  text-decoration: none;
}
.catalog-item__headline {
  font-size: 17px;
  color: black;
  margin-left: 28px;
}
.catalog-item__params {
  font-size: 13px;
  font-weight: normal;
  margin-left: 28px;
}
.catalog-item__price {
  display: inline-block;
  font-size: 15px;
  margin-left: 28px;
  padding: 35px 0px;
}
.catalog-item__price {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 204px;
  max-height: 74px;
  padding: 24px 0;
  margin-top: 20px;
  font-size: 17px;
  border-top: 1px solid #ededed;
}
.catalog-item__cart {
  position: absolute;
  cursor: pointer;
  width: 21px;
  height: 19px;
  right: 0;
  background-image: url("../img/icon-cart.svg");
}

.catalog-item:last-child .catalog-item__price {
  margin-top: 0px;
}
@media (min-width: 768px) {
  .catalog__list  {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
  }
  .catalog-item {
    display: flex;
    width: 668px;
    height: 334px;
  }
  .catalog-item__headline {
    margin-bottom: 0;
  }
  .catalog-item__img {
    width: 334px;
    height: 334px;
  }
  .catalog-item:last-child {
    margin-right: 0;
  }
  .catalog-item__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .catalog-item__price {
    width: 255px;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    font-size: 15px;
    margin-left: 28px;
    padding: 35px 0px;
    margin-top: 173px;
  }
     
  .catalog-item:last-child .catalog-item__price {
    margin-top: 146px;
  }
}
@media (min-width: 1150px) {
  .catalog__list  {
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin: 0 auto;
  }
  .catalog-item {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: auto;
  }
  .catalog-item__headline {
    font-size: 20px;
  }
  .catalog-item__img {
    width: 315px;
    height: 462px;
  }
  .catalog-item__params {
    font-size: 15px;
    font-weight: normal;
    margin-left: 28px;
  }
  .catalog-item__price {
    padding: 24px 0;
    font-size: 17px;
  }
  .catalog-item__price {
    margin-top: 20px;
  }
  .catalog-item:last-child .catalog-item__price {
    margin-top: 0px;
  }
  .catalog-item:first-child {
    margin-left: 0;
  }
  .catalog-item__desc {
    min-height: 205px;
  }
  .catalog-item:first-child {
    margin-left: 0;
  }
  .catalog-item__desc {
    min-height: 227px;
  }
}
