.feedbacks-buttons {
  display: flex;
  margin-bottom: 40px;
}
.feedbacks-buttons__prev {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  padding:0;
  border: 1px solid #ececec;
  background-image: url(../img/icon-left-arrow.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.feedbacks-buttons__next {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  padding:0;
  border: 1px solid #ececec;
  background-image: url(../img/icon-right-arrow.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .feedbacks-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }
  .feedbacks-buttons__prev {
    width: 50px;
    height: 26px;
    border: none;
    margin-right: 19px;
  }
  .feedbacks-buttons__next {
    width: 50px;
    height: 26px;
    border: none;
    margin: 0 19px;
  }
}
