.feedbacks-buttons {
  display: flex;
  margin-bottom: 40px;
}
.feedbacks-buttons__prev {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  padding:0;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  &:hover {
    fill: #666666;
  }
  &:active {
    fill: #b2b2b2;
  }
}
.feedbacks-buttons__next {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  padding:0;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  &:hover {
    fill: #666666;
  }
  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: 768px) {
  .feedbacks-buttons {
    position: absolute;
    bottom: 19px;
    right: 0;
    margin-bottom: 0;
  }
  .feedbacks-buttons__prev {
    width: 50px;
    height: 26px;
    border: none;
    margin-right: 19px;
  }
  .feedbacks-buttons__next {
    width: 50px;
    height: 26px;
    border: none;
    margin: 0 19px;
  }
}