.item-order {
  display: flex;
  flex-direction: column;
  margin-top: 350px;
}

.item-order__price {
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  margin: 0px 67px;
  padding: 25px 0px;
}
.item-order__input {
  box-sizing: border-box;
  width: 260px;
  display: inline-block;
  padding: 16px 45px;
  color: #444444;
  padding: 18px 45px;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: #444444;
    color: #ffffff;
  }
  &:active {
    background-color: #444444;
    color: #858585;
  }
}
@media (min-width: 768px) {
  .item-order {
    margin-top: 0;
  }
  .item-order__input {
      width: 290px;
  }
  .item-order__price {
    font-size: 20px;
  }
}
