.items-block {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.items-block__interier {
  position: relative;
  text-decoration: none;
  background-color: #63d1bb;
  color: white;
  line-height: 24px;
  padding: 30px 30px;
  &:hover {
    background-color: #59d5bc;
  }
  &:active {
    color: #97e2d2;
  }
}
.items-block__interier-icon {
  position: absolute;
  top: 26px;
  right: 36px;
  fill: #35a999;
  &:hover {
    fill: #239f8e;
  }
  &:active {
    fill: #37b2a0;
  }
}
.items-block__toys {
  position: relative;
  text-decoration: none;
  background-color: #56c3b2;
  color: white;
  padding: 30px 30px;
  &:hover {
    background-color: #46c1ae;
  }
  &:active {
    color: #8dd5c9;
  }
}
.items-block__toys-icon {
  position: absolute;
  top: 26px;
  right: 30px;
  fill: #35a999;
  &:hover {
    fill: #239f8e;
  }
  &:active {
    fill: #37b2a0;
  }
}
@media (min-width: 768px) {
  .items-block {
    position: absolute;
    left: 50px;
    top: 422px;
    width: 668px;
    flex-direction: row;
    margin: 0 auto;
  }
  .items-block__headline {
    font-size: 20px;
  }
  .items-block__interier {
    flex-grow: 1;
    padding: 30px 8px 34px 37px;
    line-height: 27px;
  }
  .items-block__toys {
    flex-grow: 1;
    padding: 29px 27px 34px 37px;
  }
  .items-block__toys-icon {
    right: 35px;
    }
}
@media (min-width: 1150px) {
  .items-block {
    left: 50px;
    top: 625px;
    width: 1050px;
    flex-direction: row;
  }
  .items-block__headline {
    font-size: 20px;
  }
  .items-block__interier-icon{
    top: 31px;
  }
  .items-block__toys-icon {
    top: 31px;
  }
}
