.modal-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 320px;
  height: 337px;
  background-color: #ffffff;
  padding: 29px 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.modal-content__headline {
  width: 195px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 60px;
}
.modal-content__sizes-headline {
  display: inline-block;
  margin-left: 60px;
  margin-top: 0;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 25px;
}
.modal-content__size-items {
  display: flex;
  justify-content: space-between;
}
.modal-content__size {
  display: inline-block;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  padding-top: 16px;
  width: 82px;
  height: 52px;
  border: 2px solid #ececec;
  margin-bottom: 30px;
  cursor: pointer;
}
.modal-content__size:hover {
  border-color: #c7c7c7;
}
.modal-content__size:active {
  border-color: #63d1bb;
}
.modal-content__button {
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 19px 0;
  border: none;
  color: #ffffff;
  background-color: #63d1bb;
}
@media (min-width: 768px) {
  .modal-content {
    width: 566px;
    padding: 45px 106px;
  }
  .modal-content__headline {
    width: auto;
    margin-left: 0;
  }
  .modal-content__sizes-headline {
    display: inline-block;
    margin: 0;
    margin-left: 100px;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 25px;
  }
  .modal-content__size {
    display: inline-block;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
    padding-top: 16px;
    width: 112px;
    height: 52px;
    border: 2px solid #ececec;
    margin-bottom: 30px;
  }
  .modal-content--show {
    display: block;
  }
}
@media (min-width: 1150px) {
  .modal-content {
    box-sizing: border-box;
    width: 566px;
    height: 337px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
}
