.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  margin-top: 99px;
}
.page-footer__copyright {
  box-sizing: border-box;
  width: 260px;
  margin-top: 0;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 24px;
  border-top: 1px solid #e5e5e5;
}
.page-footer__copyright-link {
  text-decoration: none;
  display: inline-block;
  font-size: 0;
  width: 29px;
  height: 34px;
  margin-left: 15px;
  vertical-align: middle;
  fill:#63d1bb;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #bde3dd;
  }
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 51px 50px;
  }
  .social-links {
    align-self: center;
  }
  .page-footer__copyright {
    width: 184px;
    padding: 0;
    border: none;
    margin: 0;
    font-size: 20px;
    padding-top: 6px;
  }
  .page-footer__logo {
    display: block;
    margin-right: 80px;
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: #bde3dd;
    }
  }
}
