.social-links {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.social-links--inst {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0;
  width: 22px;
  height: 21px;
  margin-right: 40px;
  &:hover {
    fill: #71cdbf;
  }
  &:active {
    fill: #d1e8e4;
  }
}
.social-links--fb {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0;
  width: 15px;
  height: 30px;
  margin-right: 40px;
  &:hover {
    fill: #71cdbf;
  }
  &:active {
    fill: #d1e8e4;
  }
}
.social-links--tw {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0;
  width: 24px;
  height: 20px;
  &:hover {
    fill: #71cdbf;
  }
  &:active {
    fill: #d1e8e4;
  }
}
@media (min-width: 768px) {
  .social-links {
    margin: 0;
  }
}
